<div id="new-link" class="form-container">
	<form method="post" action="/sessions">
		<h2>Please sign in</h2>
		<p><input type="text" name='email' placeholder="Email"></p>
		<p><input type="password" name='password' placeholder="Password"></p>
		<fieldset>
			<input id="form_submit" type="submit" value= "Sign in">
		</fieldset>
	</form>