/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	background-image: url(../../app/assets/images/crossword.png)
	margin: 0 0 100px; 
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	margin-bottom: 20px;
}

.navbar {
	background-color: black;
	min-height: 70px;
	margin-bottom: 20px;
	line-height: 70px;
	dsiplay: inline-block;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 30px;
}

/* ------------ NAV BAR ---------------- */

#logo {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
	float: left;
	vertical-align: top;
}

#logo a {
	color: white;
}

#logo a:hover {
	color: #c0392b;
}

#user-links li {
	display: inline;
	float: right;
}

#user-links a:link {
	text-decoration: none;
}

a:link, a:visited {
	text-decoration: none;
}

.sign_up, .sign_in, .sign_out {
	font-size: 20px;
	background: #c0392b;
	color: white;
	border-radius: 4px;
	border: none;
	margin-right: 10px; 
	padding: 2px 5px;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
}

.sign_up:hover, .sign_in:hover {
	background-color: white;
	color: black;
}

#add_link {
	font-size: 20px;
	background: #c0392b;
	border-radius: 4px;
	color: white;
	border: none;
	font-family: 'Oswald', sans-serif;
	padding: 2px 10px;
	margin-right: 140px;

}

.bookmark {
	margin-right: 5px;
}

#add_link:hover {
	background-color: white;
	color: #c0392b;
}

#welcome-message {
	color: white;
	margin-right: 20px;
	font-family: 'News Cycle', sans-serif;
}

/* ----------- END OF NAV BAR ---------------- */

#notice {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: #2ecc71;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  font-family: 'News Cycle', sans-serif;
}

.content-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 100px;
}

.link {
	border: 1px solid #bdc3c7;
	padding: 20px;
	background-color: #ecf0f1;
	border-radius: 5px;
	margin: 15px inherit;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
	display: inline-block;
}

.link a.title {
	letter-spacing: 1px;
	font-size: 18px;
	font-family: 'News Cycle', sans-serif;
}


.link .description {
    margin: 5px inherit;
    font-family: 'News Cycle', sans-serif;
 }

.link .source {
	float: right;
	font-size: 14px;
	font-family: 'News Cycle', sans-serif;
}

.source {
	margin-top: 30px;
	font-size: 12px;
	margin-right: 10px;
}

footer {
  	display: flex;
  	background-color: black;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
    color: white;
    font-size: 12px;
    position: absolute;
}

footer a:link {
	color: white;
}

footer > * {
    margin: auto inherit;
  }

footer img {
	vertical-align: top;
}

footer #technologies {
	-webkit-flex: 1;
	flex: 1;
}

footer p {
	padding: 5px 25px;
}

#makersacademy-logo {
	margin-left: 30px;
}

.form-container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 35%;
	padding-right: 35%;
	margin-top: 40px;
	margin-bottom: 100px;
}

form {
	/*border: 1px solid #bdc3c7;
	border-radius: 4px;*/
	/* padding: 20px; */
	width: 100%;
}

input {
	width: 100%;
	padding: 5px;
	font-size: 20px;
	border-radius: 4px;
	border: 1px solid #bdc3c7;
	margin: 0 0 20px 0;
}

#form_submit {
	font-size: 20px;
	background: #c0392b;
	border-radius: 4px;
	color: white;
	border: none;
	font-family: 'Oswald', sans-serif;
}

#form_submit:hover {
	background-color: white;
	color: #c0392b;
}

.tags {
	background-color: #95a5a6;
	border-radius: 4px;
	color: white;
	font-family: 'News Cycle', sans-serif;
	float: left;
	display: inline-block;
	padding: 5px 10px 10px;
	margin-right: 4px;
	margin-top: 15px;
}

.favourite {
	float: right;
	margin-top: 4px;
	margin-right: 10px;
	border: none;
	background-color: #ecf0f1;
	cursor: pointer;
	font-size: 14px;
	font-family: 'News Cycle', sans-serif;
}

.favourite:hover {
	color: #c0392b;
}

#links {
	position: relative;
}

#links .heart {
	position: absolute;
	font-size: 24px;
	right: 5px;
	top: 5px;
	color: #c0392b;
	cursor: pointer;
}

#links .heart.solid {
	opacity: 0;
}


