<div id="new-link" class="form-container">

	<form action="/links" method="post">
		<h2>Submit a new link</h2>
			<p><input type="text" name="url" placeholder="url"></p>
			<p><input type="text" name="title" placeholder="Title"></p>
			<p><input type="text" name="tags" placeholder="Tags"></p>
			<fieldset>
				<input id="form_submit" type="submit" value="Submit my link"></p>
			</fieldset>
	</form>
	
</div>