<!DOCTYPE html>
<html>
	<head>
		<title>Bookmark Manager</title>
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<%= partial :welcome_message %>
		<%= partial :flash %>
		<%= yield %>
	</body>
</html>