<header>
	<nav class="navbar">
		<div class="container">
			<div id="logo"><a href="/">BOOKMARK MANAGER</a></div>

			<div id="user-links">
				<% if current_user %>
					<ul>
						<li>
							<form method="post" action="/sessions">
								<input type="hidden" name="_method" value="delete">
								<input class="nav_buttons" type="submit" value="Sign out">
							</form>
						</li>
						<li>
							<span id="welcome-message">
								Welcome, <%= current_user.email %>
							</span>
						</li>
						<li><a id="add_link" href="/users/new">Add link</a></li>
					</ul>
				<% end %>
				<% if !current_user %>
					<ul>
						<li><a class="nav_buttons" href="/users/new">Sign up</a></li>
						<li><a class="nav_buttons" href="/sessions/new">Sign in</a></li>
						<li><a id="add_link" href="/users/new">Add link</a></li>
					</ul>
				<% end %>
			</div>
		</div>
	</nav>
</header>
			